/*
CREATE YOUR OWN TYPE SETS LIKE SO:

$your-type-set:(
	main-head: (
		'large':   (3.2rem, 'normal', 1.2, 'Helvetica, Arial'),
		'medium':  (2.8rem, 'normal', 1.2, 'Helvetica, Arial'),
		'small':   (2.1rem, 'normal', 1.4, 'Times, serif')
	),
);

$typography-sets: map_merge($typography-sets, $your-type-set);

*/


html{
	font-size: 62.5%;
}


// •••••••••• THE SASS MAGIC

$typography-sets: ();

@mixin type($active-set){
	$set: map-get($typography-sets, $active-set);
	
	$lg: map-get($set, large);
	$md: map-get($set, medium);
	$sm: map-get($set, small);
	
	font-size:   nth($lg, 1);
	font-weight: nth($lg, 2);
	line-height: nth($lg, 3);
	font-family: nth($lg, 4);
	
	@if($md){
		@include viewport(m,s){
			font-size:   nth($md, 1);
			font-weight: nth($md, 2);
			line-height: nth($md, 3);
			font-family: nth($md, 4);
		}
	}
	@if($sm){
		@include viewport(s){
			font-size:   nth($sm, 1);
			font-weight: nth($sm, 2);
			line-height: nth($sm, 3);
			font-family: nth($sm, 4);
		}
	}
};