/*
CREATE YOUR OWN TYPE SETS LIKE SO:

$your-type-set:(
	main-head: (
		large:   (3.2rem, 'normal', 1.2, 'Helvetica, Arial'),
		medium:  (2.8rem, 'normal', 1.2, 'Helvetica, Arial'),
		small:   (2.1rem, 'normal', 1.4, 'Times, serif')
	),
);

map_merge($typography-sets, $your-type-set);

*/


html{
	font-size: 62.5%;
}


// •••••••••• THE SASS MAGIC

$typography-sets:();

@mixin type($active-set){
	$set: map_get($typography-sets, $active-set);
	
	$lg: map_get($set, 'large');
	$md: map_get($set, 'medium');
	$sm: map_get($set, 'small');
	
	font-size:   map_get($lg, 1);
	font-weight: map_get($lg, 2);
	line-height: map_get($lg, 3);
	font-family: map_get($lg, 4);
	
	if($md){
		@include viewport(m,s){
			font-size:   map_get($md, 1);
			font-weight: map_get($md, 2);
			line-height: map_get($md, 3);
			font-family: map_get($md, 4);
		}
	}
	if($sm){
		@include viewport(s){
			font-size:   map_get($sm, 1);
			font-weight: map_get($sm, 2);
			line-height: map_get($sm, 3);
			font-family: map_get($sm, 4);
		}
	}
	
};